body{
    background: #359fd4;
    color: #ffffff;
    border:0;
    padding: 0;
    font-family: "Open Sans", "Helvetica";
    height: auto;

}
.access{
    margin: 100px auto;
    width: 500px;
    text-align: center;

}
.access h1{
    font-size: 60px;
    font-weight: 100;
    border-bottom: solid 1px #EBEBEB;
}
.access h2{
    font-size: 30px;
    font-weight: 100;
}
.access input{
    border: 0;
    padding: 10px;
}
.access p{
    font-size: 18px;
}
.access input[type="submit"]{
    background: #4bc236;
    color: white;
    border: 50px;
    padding: 15px 100px;
    font-size: 15px;
}